@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: ( theme-type: light ),
  typography: ( use-system-variables: true )
));

@include mat.core-theme($theme);
@include mat.all-component-themes($theme);

html, body {
  height: 100%;
  margin: 0;
}
